<div class="secondary">
    <section>
      <article>
        <figure>
          <img src="/img/andy-pettitte.jpg" alt="" title="Andy Pettitte had 219 career wins with the NYY (256 overall). Down two games to the Braves in the 1996 WS, Pettitte delivered his most clutch performance beating Smoltz and the Braves 1-0, pitching 5-hit ball over 8.1 IP." />
          <figcaption>Andy Pettitte had 219 career wins with the NYY (256 overall). Down two games to the Braves in the 1996 WS, Pettitte delivered his most clutch performance beating Smoltz and the Braves 1-0, pitching 5-hit ball over 8.1 IP.</figcaption>
        </figure>
      </article>
      <aside>
        <ul class="image-tn">
          <li><a href="/img/andy-pettitte.jpg"><img src="/img/andy-pettitte.jpg" alt="" title="Andy Pettitte had 219 career wins with the NYY (256 overall). Down two games to the Braves in the 1996 WS, Pettitte delivered his most clutch performance beating Smoltz and the Braves 1-0, pitching 5-hit ball over 8.1 IP." /></a></li>
          <li><a href="/img/bernie-williams.jpg"><img src="/img/bernie-williams.jpg" alt="" title="In 1998, Bernie Williams became the first player to win a batting title (.339), a Gold Glove and a WS ring in the same year. Bernie was a 5x All-Star, 4x WS champion, the 1996 ALCS MVP, a 2002 Silver Slugger, and 4x Gold Glover." /></a></li>
          <li><a href="/img/derek-jeter.jpg"><img src="/img/derek-jeter.jpg" alt="" title="On June 9, 2011, Derek Jeter went 5-5, homered for his 3,000th hit and had the game winning RBI, as the NYY beat the Rays, 5-4. The Captain was inducted into the Hall of Fame in 2020." /></a></li>
          <li><a href="/img/don-mattingly.jpg"><img src="/img/don-mattingly.jpg" alt="" title="Donnie Baseball is considered the greatest Yankee to never play in the WS. Mattingly was a 6x All-Star, 1985 AL MVP, 9x Gold Glover, 3x Silver Slugger and was the 1984 AL batting champion. " /></a></li>
          <li><a href="/img/jorge-posada.jpg"><img src="/img/jorge-posada.jpg" alt="" title="From 2000 to 2011, Jorge Posada compiled more HRs and RBIs than any other catcher in baseball. He was a 5x All-Star, 5x Silver Slugger and 4x WS champion." /></a></li>
          <li><a href="/img/mariano-rivera.jpg"><img src="/img/mariano-rivera.jpg" alt="" title="Mariano Rivera holds the MLB for most saves, with 652. In 2019, Mo was the only player ever unanimously elected to the HoF. He was a 13x All-Star, 5x WS champion, the 1999 WS MVP, and the 2003 ALCS MVP." /></a></li>
          <li><a href="/img/paul-oneill.jpg"><img src="/img/paul-oneill.jpg" alt="" title="A fan favorite, Paul O'Neill was a 5x All-Star, 5x WS champion, and won the AL batting title in 1994 with a .359 BA." /></a></li>
          <li><a href="/img/tino-martinez.jpg"><img src="/img/tino-martinez.jpg" alt="" title="Tino Martinez had a magical year in 1997 hitting .296 BA, 44 HR, and 141 RBI. Despite playing only 7 seasons with the NYY, many fans consider him (and not Giambi or Teixeira) the best 1B since Mattingly. He should sue freaking Armando Benitez." /></a></li>
          <li><a href="/img/wade-boggs.jpg"><img src="/img/wade-boggs.jpg" alt="" title="After getting released by Boston in 1992, Wade Boggs signed with the NYY as a FA in 1993. In his 5-years with the NYY, Boggs would go onto make 4x All Star appearances (12x overall), win 2x Gold Gloves, 2x Silver Sluggers and won the WS in 1996." /></a></li>
        </ul>
      </aside>
    </section>
  </div>