<article>
  <div class="content-video">
    <iframe src="https://www.youtube.com/embed/YVNlvnsQ828" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <ul class="btn-list">
      <li>
        <a class="active" href="https://www.youtube.com/embed/YVNlvnsQ828">Jeffrey Maier</a>
      </li>
      <li>
        <a href="https://www.youtube.com/embed/MrMfEEUObPE">Aaron Boone</a>
      </li>
      <li>
        <a href="https://www.youtube.com/embed/hpBSvBSpMp0">BH Kim</a>
      </li>
    </ul>
  </div>
  </article> 
  
  <aside>
    <h2>My Top Moments in Yankees' History (Contemporary)</h2>
    <p><strong>The Jeffrey Maier Game</strong> 1996 ALCS, Game 1 against the Baltimore Orioles. OMG. If only Mattingly played one more year...</p>
    <p><strong>Aaron F****** Boone</strong> 2003 ALCS, Game 7 against the Boston Red Sox. OMG. A collective expletive heard all the way from Boston, MA.</p>
    <p><strong>Byung Hyun Kim (Déjà vu)</strong> 2001 WS, Game 5 against the Arizona Diamondbacks. OMG. For the second game in a row...</p>
  </aside>