.home {
  background-image: url("../img/mo-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.home a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}